@import '../../styles/mixins.scss';

.navbar {
  background-color: transparent;
  padding: 0px 20px;
  position: sticky;
  top: 0;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  background-color: #fff;
  @include xs {
    padding: 10px;
  }
  // &.scrolled {
  //   background-color: var(--main-background);
  // } 
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 3px 50px;
    color: #000;
    border-radius: 20px 20px 0 20px;
    @include md {
      padding: 3px 20px;
    }
    @include xs {
      padding: 0px 10px;
    }
    .domain {
      display: flex;
      align-items: center;
      i {
        font-size: 1.5rem;
        padding-right: 10px;
        cursor: pointer;
        @include xs {
          font-size: 1.2rem;
        }
      }
      span {
        padding: 0 10px;
        font-weight: 600;
        @include md {
          display: none;
        }
      }
      .mobIcon {
        cursor: pointer;
        display: none;
      }
      .mobIcon {
        @include md {
          display: inline-block;
        }
      }
    }

    .links {
      ul {
        display: flex;
        gap: 20px;
        li {
          border-radius: 10px;
          padding: 8px;
          position: relative;
          p {
            width: 10px;
            height: 10px;
            background-color: var(--main-color);
            border-radius: 50%;
            position: absolute;
            top: 75%;
            left: 47%;
            display: none;
          }
          &.active {
            p {
              display: block;
            }
            a {
              color: var(--main-color);
            }
          }
          a {
            color: #000;
            font-weight: 600;
          }
        }
      }
      @include md {
        display: none;
      }
    }
    .logo {
      img {
        width: 187px;
        height: 70px;
        cursor: pointer;
        @include xs {
          width: 130px;
          height: auto;
        }
      }
    }
  }
}