@import '../../../styles/mixins.scss';

.header {
  height: 570px;
  background-image: url('../../../public/assets/imgs/home/banner.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @include md {
    padding-top: 13vh;
  }
  @include sm {
    min-height: auto;
    margin-top: -15vh;
    padding-top: 16vh;
  }
  @include xs {
    padding-bottom: 70px;
  }

  .textSide {
    position: relative;
    flex-direction: column;
    position: relative;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 70%;
    margin: 10% auto 0;
    display: flex;
    align-items: center;
    justify-content: center;
    @include lg {
      width: 450px;
    }
    @include md {
      display: none;
    }
    h1 {
      color: #fff;
      font-size: 2.5rem;
      text-align: center !important;
      @include lg {
        font-size: 2.5rem;
      }
      @include md {
        font-size: 2rem;
      }
      @include sm {
        font-size: 1.5rem;
      }
    }
    p {
      color: #fff;
      font-size: 1.5rem;
      text-align: center !important;
      line-height: 38px;
    }
    .input {
      background-color: #fff;
      display: flex;
      border-radius: 5px;
      margin-top: 20px;
      overflow: hidden;
      input {
        width: 400px;
        border: none;
        padding: 15px 0px;
        outline: none;
      }
      button {
        border: none;
        background-color: transparent;
        color: var(--main-color);
        font-weight: bold;
        padding: 10px 20px;
        outline: none;
        cursor: pointer;
      }
    }
  }
}
.bottom {
  background: linear-gradient(-45deg, #39cefd, #03569b);
  padding: 10px 20px;
  .part {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    color: #fff;
    i {
      font-size: 42px;
    }
    h4 {
      font-size: 20px;
    }
    p {
      font-size: 16px;
    }
    @include xs {
      justify-content: flex-start;
      i {
        font-size: 32px;
      }
      h4 {
        font-size: 18px;
      }
      p {
        font-size: 14px;
      }
    }
  }
}